<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>轮播图管理</title>
  <link rel="stylesheet" href="__CSS__/reset.css">
  <link rel="stylesheet" href="__STATIC__/common/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/common/toast/toast.css" media="all">
  <link rel="stylesheet" href="__CSS__/admin/nav.css">
  <link rel="stylesheet" href="__CSS__/admin/table.css">
  <link rel="stylesheet" href="__CSS__/admin/selectbox.css">
  <link rel="stylesheet" href="__CSS__/admin/slidedeal.css">

</head>

<body>
  <div class="wrapper">
    <div class="topNav">
      <span class="top-icon"></span>
      <span class="top-logo">DaHeiShuai</span>
      <a class="top-logout" href="{:url('yefh_forum_admin/admin/aLogout')}">注销</a>
    </div>
    <div class="sideNav">
      <div class="side-avatar">
        <img src="__STATIC__/upload/avatar/猫咪头像.jpg" alt="">
      </div>
      <div class="side-username">
        {$Think.session.user}
      </div>
      <ul class="side-action">
        <li>
          <a href="{:url('yefh_forum_admin/deal/index')}">
            <span class="layui-icon layui-icon-chart"></span>
            <span>首页</span>
          </a>
        </li>
        <li>
          <a href="{:url('yefh_forum_admin/deal/mesdeal')}">
            <span class="layui-icon layui-icon-tabs"></span>
            <span>帖子管理</span>
          </a>
        </li>
        <li>
          <a href="{:url('yefh_forum_admin/deal/userdeal')}">
            <span class="layui-icon layui-icon-user"></span>
            <span>用户管理</span>
          </a>
        </li>
        <li>
          <a href="{:url('yefh_forum_admin/deal/sectiondeal')}">
            <span class="layui-icon layui-icon-template-1"></span>
            <span>模板管理</span>
          </a>
        </li>
        <li>
          <a href="{:url('yefh_forum_admin/bindeal/binsec')}">
            <span class="layui-icon layui-icon-delete"></span>
            <span>回收站管理</span>
          </a>
        </li>
        <li>
          <a href="{:url('yefh_forum_admin/advdeal/ad')}">
            <span class="layui-icon layui-icon-website"></span>
            <span>广告管理</span>
          </a>
        </li>
        <li class="side-active">
          <a href="{:url('yefh_forum_admin/advdeal/slidedeal')}">
            <span class="layui-icon layui-icon-picture"></span>
            <span>轮播图管理</span>
          </a>
        </li>
        <li>
          <a href="{:url('yefh_forum_admin/admin/apa')}">
            <span class="layui-icon layui-icon-face-smile-b"></span>
            <span>我的</span>
          </a>
        </li>
        <li>
          <a href="{:url('yefh_forum/index/index')}">
            <span class="layui-icon layui-icon-fonts-html"></span>
            <span>论坛前台</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="title">
        <fieldset class="layui-elem-field layui-field-title">
          <legend>首页轮播图</legend>
        </fieldset>
      </div>
      <!-- 轮播图 -->
      <div class="cart-box carousel">
        <div class="layui-carousel" id="carousel">
          <div carousel-item>
            {volist name="cData" id="item"}
            <div>
              <img class="cimg" src="__STATIC__/upload/advimage/slide/{$item.cimg}" alt="">
              <div class="carousel-item-text">
                <h1>{$item.ctitle}</h1>
                <p>{$item.cremark}</p>
              </div>
            </div>
            {/volist}
          </div>
        </div>
      </div>
      <a class="addBtn layui-btn layui-btn-primary" href="{:url('yefh_forum_admin/advdeal/addslide')}">添加轮播图</a>
      <table class="table">
        <!-- Replace "table" with any of the design numbers -->
        <thead>
          <th>cid</th>
          <th>图片</th>
          <th>标题</th>
          <th>发布时间</th>
          <th>文字介绍</th>
          <th>指向帖子的mid</th>
          <th>审核结果</th>
          <th>操作</th>
        </thead>
        <tbody>
          {volist name="cData" id="item"}
          <tr>
            <td class="cid">{$item.cid}</td>
            <td><img class="cimg" src="__STATIC__/upload/advimage/slide/{$item.cimg}" alt=""></td>
            <td>{$item.ctitle}</td>
            <td>{$item.ctime|date="Y-m-d h:m:s",###}</td>
            <td class="td-cremark" style="width: 400px;">{$item.cremark}</td>
            <td>{$item.mid}</td>
            <td class="cur-power">{$item.ccheck}</td>
            <td>
              <a href="{:url('yefh_forum_admin/advdeal/alterslide',['cid' => $item.cid])}"
                class="editBtn layui-btn layui-btn-normal layui-btn-sm">修改</a href="">
              <button type="button" class="audit layui-btn layui-btn-primary layui-btn-sm">审核</button>
              <button type="button" class="delBtn layui-btn layui-btn-danger layui-btn-sm">删除</button>
            </td>
          </tr>
          {/volist}
        </tbody>
      </table>
      <div class="select-box">
        <div class="select-title">
          <span>用户名</span>
          <span></span>
          <span class="select-quit layui-icon layui-icon-close"></span>
        </div>
        <div class="select-content">
          <label>
            <input class="radio_type" type="radio" name="power" , value="审核通过" checked>
            <span>审核通过</span>
          </label>
          <label>
            <input class="radio_type" type="radio" name="power" value="等待审核">
            <span>等待审核</span>
          </label>
          <label>
            <input class="radio_type" type="radio" name="power" value="暂停使用">
            <span>暂停使用</span>
          </label>
          <button class="select-btn layui-btn layui-btn-normal layui-btn-sm">确定修改</button>
        </div>
      </div>
      <div class="cover"></div>
    </div>
  </div>
</body>
<script src="__STATIC__/common/jquery/jquery.js"></script>
<script src="__STATIC__/common/layui/layui.js"></script>
<script src="__STATIC__/common/toast/toast.js" charset="utf-8"></script>
<script src="__STATIC__/js/admin/slidedeal.js" charset="utf-8"></script>

<script>

</script>

</html>