html,
body {
  width: 100%;
  height: 100%;
}

body {
  /* overflow: hidden; */
  background: url('../../images/background2.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: #146aa5;
}

a:hover {
  color: #488fc3;
}

.login-box {
  width: 418px;
  position: absolute;
  right: 200px;
  top: 100px;
  background-color: rgba(246, 250, 251, 0.7);
  box-shadow: 0 0 6px #101734;
  padding: 90px 30px;
  box-sizing: border-box;
}

.login-box h1 {
  font-size: 18px;
  color: #0f2749;
}

.login-box .formInput {
  width: 100%;
  height: 34px;
  margin-top: 20px;
  text-indent: 10px;
  border-radius: 3px;
  outline: none;
  border: none;
  color: #2f7cc0;
  box-shadow: none;
}

.login-box .formInput:nth-child(3) {
  margin-bottom: 20px;
}

.login-box .autoForget {
  font-size: 15px;
}

.autoForget span {
  margin-right: 30px;
}

.login-box .loginRegister {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.loginBtn {
  width: 132px;
  padding: 10px;
  margin: 0;
  color: #fff;
  background-color: #1e9fff;
  border: 1px solid transparent;
  outline: none;
}

.loginBtn:hover {
  background-color: #4ea9ee;
  cursor: pointer;
}

.register {
  display: inline-block;
  margin-right: 20px;
  font-size: 15px;
}

.message {
  width: 100%;
  line-height: 50px;
  margin-top: 40px;
  text-align: center;
  color: #fff;
  background-color: rgba(241, 50, 50, 0.7);
  opacity: 0;
}

footer {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  filter: alpha(Opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.4;
  overflow: hidden;
  text-align: center;
}

footer ul {
  display: inline-block;
  margin-left: 100px;
  margin-left: 0;
}

footer li {
  display: inline-block;
  padding: 0 10px;
}
