.input-img {
    position: relative;
    display: flex;
    color: #e06c75;
}

.input-img::before {
    content: '请选择上传图片';
    font-size: 15px;
    position: absolute;
    left: 0;
    padding: 8px 0;
    width: 110px;
    height: 100%;
    background: #ffd777;
}

.layui-form .origin-title{
	color: #8066a0;
	text-shadow: 0 0 1px #8066a0; 
}
.layui-form .origin-title + span{
	color: #aeb2b7;
}

.layui-form .origin-img {
	box-shadow: 0 0 10px 2px #ffd777;
	border-radius: 10px;
	width: 450px;
}

.layui-form .change-img{
	margin-top: 10px;
}