.title{
  font-size: 20px;
  color: #8066a0;
  line-height: 60px;
  font-weight: bold;
}
.title:nth-of-type(2){
  color: #696bee;
}
.table:nth-of-type(2) thead th {
  background-color: rgb(105, 107, 238) !important;
  color: #fff;
  border-bottom-width: 0;
  line-height: 30px;
  }