.title {
  margin-bottom: 10px;
}
.layui-carousel {
  width: 100% !important;
  height: 800px !important;
}
.layui-carousel > [carousel-item] {
  height: 100% !important;
}
.layui-carousel img {
  width: 100%;
  height: 100%;
}
.carousel {
  margin-bottom: 15px;
}
.carousel-item-text {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 200px;
  padding: 10% 2%;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}
.carousel-item-text h1 {
  font-size: 24px;
}
.carousel-item-text p {
  margin-top: 20px;
  text-align: left;
  line-height: 40px;
}
.cimg {
  width: 200px;
  height: 100px;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.td-cremark {
  padding-top: 40px !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  float: left;
  word-break: break-all;
  text-overflow: ellipsis;
}
