<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>登录</title>
  <link rel="stylesheet" href="__CSS__/reset.css">
  <link rel="stylesheet" href="__CSS__/admin/alogin.css">
</head>

<body>
  <div class="login-container">
    <div class="login-box">
      <form action="{:url('yefh_forum_admin/admin/doalogin')}" method="post">
        <h1>论坛后台管理员登录</h1>
        <input name="user" class="formInput" type="text" placeholder="用户名/邮箱地址/手机号码">
        <input name="pwd" class="formInput" type="password" placeholder="密码">
        <div class="autoForget">
          <a href="#">忘记密码</a>
        </div>
        <div class="loginRegister">
          <input type="submit" class="loginBtn" value="立即登录"></input>
        </div>
      </form>
      <div class="message">
        <p></p>
      </div>
    </div>
    <footer>
      <span class="copyright">© 2000 - 2019 www.doyouhike.net Version 4.7.8 - 2019-03-25 10:14:00 +0800
        粤ICP备11038623号-2</span>
      <ul>
        <li><a href="">关于我们</a></li>
        <li><a href="">版权声明</a></li>
        <li><a href="">隐私保护</a></li>
        <li><a href="">联系我们</a></li>
      </ul>
    </footer>
  </div>
</body>
<script src="__STATIC__/common/jquery/jquery.js"></script>
<script src="__STATIC__/js/admin/alogin.js"></script>

</html>