/* --------------------导航条-------------------- */

header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(160deg, #b100ff 20%, #00b3ff 80%);
    background-size: 150%;
    transition: 0.5s;
}
header:hover{
  background-position: right;
}
header ul li {
    display: inline-block;
    line-height: 50px;
    cursor: pointer;
    width: 102px;
    text-align: center;
}

header ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
}

header ul li:hover {
    color: #fff;
    background-color: rgba(9, 43, 70, 0.1)
}

header ul li a:hover {
    color: #fff;
}

header .login-reg a {
    color: #fff;
    margin-right: 10px;
}

.avatar-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.avatar-box .avatar {
    display: inline-block;
    border: 1px solid #a3b2b4;
    border-radius: 50%;
    margin-right: 10px;
}

.avatar-box .avatar img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.avatar-box .username {
  font-size: 15px;
  color: #fff;
  font-weight: 900;
}

.forum-item{
  position: relative;
  color: red;
}
.forum-item:hover .forum-menu{
  display: block;
}
.forum-menu{
  position: absolute;
  background: #4f56ec;
  z-index: 11111;
  display: none;
}
.forum-menu li a{
  color: #fff;
}



@media screen and (max-width: 1260px) {
    header ul li {
        width: 60px;
    }
}

@media screen and (max-width: 639px) {
    header ul li {
        width: 50px;
        font-size: 10px;
    }
    header .login-reg a {
        margin-right: 5px;
        font-size: 10px;
    }
    header .avatar-box {
        display: none;
    }
}