/* --------------------导航条-------------------- */
@import url(./header.css);

html,
body {
  height: 100%;
}

#container {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-bottom: 200px;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

/* --------------------注册主体-------------------- */
.section-register {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  padding: 100px 10%;
}

.register-left,
.register-right {
  /*height: 500px;*/
  display: inline-block;
}

.register-left {
  width: 500px;
  background: url('../images/register.jpg') no-repeat center;
  background-size: cover;
}

.register-right {
  padding: 20px 0;
  box-sizing: border-box;
  border: 1px solid rosybrown;
  border-radius: 3px;
}

.submitbox {
  margin: 0 87px;
}

@media screen and (max-width: 1260px) {

  .section-register {
    display: flex;
    flex-direction: column;
  }

  .register-left {
    display: none;
  }

  .register-right {
    flex: 1;
  }
}

@media screen and (max-width: 639px) {
  .layui-form-mid {
    display: none;
  }

  .register-right {
    padding: 20px;
  }

  .submitbox {
    margin: 0;
  }

  .section-register {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 50px 3%;
  }

  footer ul {
    display: none;
  }
  .reg{
    display: none;
  }
  .logo {
    display: none;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2b2b2b;
  height: 200px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20%;
  box-sizing: border-box;
}

footer ul {
  border-left: 0.1px solid #818181;
  padding-left: 15px;
}

footer ul li {
  line-height: 30px;
}

footer ul li a {
  color: #818181;
}

footer .title {
  font-size: 20px;
  color: #818181;
}

footer .QR-code {
  width: 86px;
  height: 86px;
}

.layui-form-item{
  position: relative;
}
.input-user-hint{
  position: absolute;
  top: -20px;
  left: 0px;
  color: red;
  display: none;
}