<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="__CSS__/reset.css">
  <link rel="stylesheet" href="__CSS__/index.css">
  <link rel="stylesheet" href="__STATIC__/common/layui/css/layui.css">
  <title>首页</title>
</head>

<body>
  <div id="container">
    <!-- 顶部导航条 -->
    <header>
      <ul>
        <li class="logo">DHS</li>
        <li><a href="{:url('Index/index')}">首页</a></li>
        <li class="forum-item">
          <a href="{:url('Index/view')}">论坛</a>
          <ul class="forum-menu">
            {volist name="sec" id="secrow"}
            <li><a href="{:url('index/view',['sid' => $secrow.sid])}">{$secrow.sname}</a></li>
            {/volist}
          </ul>
        </li>
        <li><a href="{:url('Index/post')}">发帖</a></li>
        <li><a href="{:url('User/contact')}">联系</a></li>
        <li><a href="{:url('Index/person')}">信息</a></li>
      </ul>
      {if condition="$Think.session.unick"}
      <div class="avatar-box">
        <span class="avatar">
          <img src="__STATIC__/upload/avatar/{$Think.session.uimg}" alt="">
        </span>
        <span class="username">{$Think.session.unick}</span>
      </div>
      {/if}
      <div class="login-reg">
        {if condition="$Think.session.unick != ''"}
        <a href="{:url('Index/logout')}">注销</a>
        {else}
        <a href="{:url('User/login')}">登录</a>
        {/if}
        <a class="reg" href="{:url('User/register')}">注册</a>
      </div>
    </header>
    <!-- 主体内容 -->
    <section>
      <!-- 轮播图 -->
      <div class="cart-box carousel">
        <div class="layui-carousel" id="carousel">
          <div carousel-item>
            <div><img src="__IMG__/slide_img1.jpg" alt=""></div>
            <div><img src="__IMG__/slide_img2.jpg" alt=""></div>
            <div><img src="__IMG__/slide_img1.jpg" alt=""></div>
            <div><img src="__IMG__/slide_img2.jpg" alt=""></div>
            <div><img src="__IMG__/slide_img1.jpg" alt=""></div>
          </div>
        </div>
      </div>
      <div class="cart-box">
        <h1 class="title"><a href="">Redmi Note8 Pro | 美的不可方物的“有面”开箱</a></h1>
        <p class="browse-info">
          <span class="time">2019-9-23日</span>
          <span class="browse">
            浏览：<span class="count">2000</span>
          </span>
          <span class="comment">
            评论：<span class="count">900</span>
          </span>
        </p>
        <div class="imgBox">
          <a href=""><img src="__IMG__/hongmi.jpg" alt=""></a>
        </div>
        <p class="introduce">
          Redmi Note 8 Pro 「冰翡翠」，顺着光线定睛观察它的绝美机身，双面GG5玻璃带来的光泽，赋予它不可比拟的迷人美感，钻石切面纹理闪耀，美的不可方物
        </p>
      </div>
      <div class="cart-box">
        <h1 class="title"><a href="">Redmi Note8 Pro | 美的不可方物的“有面”开箱</a></h1>
        <p class="browse-info">
          <span class="time">2019-9-23日</span>
          <span class="browse">
            浏览：<span class="count">2000</span>
          </span>
          <span class="comment">
            评论：<span class="count">900</span>
          </span>
        </p>
        <div class="imgBox">
          <a href=""><img src="__IMG__/hongmi.jpg" alt=""></a>
        </div>
        <p class="introduce">
          Redmi Note 8 Pro 「冰翡翠」，顺着光线定睛观察它的绝美机身，双面GG5玻璃带来的光泽，赋予它不可比拟的迷人美感，钻石切面纹理闪耀，美的不可方物
        </p>
      </div>
      <div class="cart-box">
        <h1 class="title"><a href="">Redmi Note8 Pro | 美的不可方物的“有面”开箱</a></h1>
        <p class="browse-info">
          <span class="time">2019-9-23日</span>
          <span class="browse">
            浏览：<span class="count">2000</span>
          </span>
          <span class="comment">
            评论：<span class="count">900</span>
          </span>
        </p>
        <div class="imgBox">
          <a href=""><img src="__IMG__/hongmi.jpg" alt=""></a>
        </div>
        <p class="introduce">
          Redmi Note 8 Pro 「冰翡翠」，顺着光线定睛观察它的绝美机身，双面GG5玻璃带来的光泽，赋予它不可比拟的迷人美感，钻石切面纹理闪耀，美的不可方物
        </p>
      </div>
      <div class="cart-box">
        <h1 class="title"><a href="">Redmi Note8 Pro | 美的不可方物的“有面”开箱</a></h1>
        <p class="browse-info">
          <span class="time">2019-9-23日</span>
          <span class="browse">
            浏览：<span class="count">2000</span>
          </span>
          <span class="comment">
            评论：<span class="count">900</span>
          </span>
        </p>
        <div class="imgBox">
          <a href=""><img src="__IMG__/hongmi.jpg" alt=""></a>
        </div>
        <p class="introduce">
          Redmi Note 8 Pro 「冰翡翠」，顺着光线定睛观察它的绝美机身，双面GG5玻璃带来的光泽，赋予它不可比拟的迷人美感，钻石切面纹理闪耀，美的不可方物
        </p>
      </div>
    </section>
    <div id="pageContainer"></div>
    <footer>
      <ul>
        <li class="title">关于我们</li>
        <li><a href="">简介</a></li>
        <li><a href="">加入我们</a></li>
        <li><a href="./contact">联系我们</a></li>
      </ul>
      <ul>
        <li class="title">网站条款</li>
        <li><a href="">版权说明</a></li>
        <li><a href="">隐私条款</a></li>
        <li><a href="">权力声明</a></li>
      </ul>
      <ul>
        <li class="title">帮助中心</li>
        <li><a href="">玩转磨房</a></li>
        <li><a href="">推荐阅读</a></li>
        <li><a href="">友情链接</a></li>
      </ul>
      <ul>
        <li class="title">关注我们</li>
        <li><a href="">新浪微博</a></li>
        <li><a href="">yfh-xiaobo</a></li>
        <li><a href="">服务</a></li>
      </ul>
      <div>
        <img class="QR-code" src="__IMG__/QR_code.png" alt="">
      </div>
    </footer>
  </div>
</body>
<script src="__STATIC__/common/jquery/jquery.js"></script>
<script src="__STATIC__/common/layui/layui.js"></script>
<script src="__STATIC__/common/layui/lay/modules/form.js"></script>
<script>
  layui.use('carousel', function () {
    var carousel = layui.carousel;
    //建造实例
    carousel.render({
      elem: '#carousel'
      , width: '100%' //设置容器宽度
      , arrow: 'always' //始终显示箭头
      //,anim: 'updown' //切换动画方式
    });
  });
  // $(document).ready(function () {
  //   $("header").load("../Common/header.html");
  // });
</script>

</html>